/venv
/sta
/inp
/dist
/build
/__pycache__
/.idea
/notes.txt
/venv_notes.txt
/roms/dkong.zip
/roms
/romlist_example.txt
/interface/compete.dat
/save.p
/fonts/gohufont-old.bdf
/dkwolf/history/history.db
/dkwolf/history
/dkwolf/ui.ini
/dkwolf/snap
/dkwolf/inp
/dkwolf/nvram
/artwork/snap/*.png
/rpi4_notes.txt
/venv32
/venv64
/releases
/romlist_OLD.csv
/settings_backup.txt
/dkwolf/dkwolfrpi_old
/dkwolf/stopfile
/dkwolf/hiscore
/artwork/Thumbs.db
/dkwolf/console_history
/dkwolf/wolfmame.exe
/remap_pc.py
/upx64
/upx32
