/venv
/sta
/inp
/dist
/build
/__pycache__
/.idea
/notes.txt
/venv_notes.txt
/roms/dkong.zip
/roms
/romlist_example.txt
/interface/compete.dat
/save.p
/fonts/gohufont-old.bdf
/dkwolf/cfg/default.cfg
/dkwolf/cfg/dkong.cfg
/dkwolf/history/history.db
/dkwolf/history
/dkwolf/cfg
/dkwolf/ui.ini
/dkwolf/snap
/dkwolf/inp
/dkwolf/nvram
/artwork/snap/*.png
/rpi4_notes.txt
