altgraph==0.17
future==0.18.3
importlib-metadata==6.7.0
ips-util==1.0
pefile==2023.2.7
pygame==2.2.0
pygame-menu==3.5.8
pyinstaller==5.13.1
pyinstaller-hooks-contrib==2023.10
pyperclip==1.8.1
pywin32-ctypes==0.2.2
requests==2.31.0
rotate-screen==0.1.5
stopwatch.py==1.0.1
typing-extensions==4.7.1
zipp==3.15.0
keyboard==0.13.5