[Desktop Entry]
Name=DKAFE First Boot
Comment=Launch DKAFE installer on first boot via /etc/xdg/autostart/firstboot.desktop
Exec=lxterminal -e /boot/dkafe_bin/rpi4/dkafe_install.sh
